{% extends 'client_layout.html.twig' %}

{% block title %}Sessions Non Totalement Pourvues - FormArmor{% endblock %}

{% block FormArmor_body %}
    <h3><strong>SESSIONS NON TOTALEMENT POURVUES</strong></h3>
    <table class="table">

        <thead>
            <tr>
                <th>Formation</th>
                <th>Description</th>
                <th>Date début</th>
                <th>Nombre de Places</th>
                <th>Nombre d'inscrits</th>
            </tr>
        </thead>
        <tbody>
        {% for sessions in lesSessionsNTP %}
            <tr>
                <td>{{ sessions.formation.libelle }} - {{ sessions.formation.niveau }}</td>  
                <td>{{ sessions.formation.description }}</td>
                <td>{{ sessions.dateDebut | date('d/m/Y') }} </td>
                <td>{{ sessions.nbPlaces }}</td>
                <td>{{ sessions.nbInscrits }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}